{% extends 'base.html' %}

{% block title %}
    <title>Book Site | Home</title>
    {% endblock %}
  {% block content %}  
<div class = 'container'>
  <div class = 'row'><h4>“Nowadays people know the price of everything and the value of nothing.” Oscar Wilde, The Picture of Dorian Grey</h4></div>

</div>


<div class = 'container'>
  <div class = 'row'><h4>“My advice is, never do tomorrow what you can do today. Procrastination is the thief of time.” Charles Dickens, David Copperfield</h4></div>

  </div>



<div class = 'container'>
    <div class = 'row'><h4>“Brave doesn’t mean you’re not scared. It means you go on even though you’re scared.” Angie Thomas, The Hate U Give</h4></div>

  </div>



{% endblock %}
